body {
  overflow-x: hidden;
  /*color: white;*/
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
}

.courier {
  font-family: Courier;
}

.cursive {
  font-family: cursive;
}

#page {
  overflow: hidden;
  white-space: nowrap;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #CCC;
  display: flex;
  flex-wrap: no-wrap;
}

.pane {
  flex: 0 0 100vw;
  height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-right: 1px solid black;
}

#chatbox {
  width: 360px;
  height: 360px;
  border: 1px black solid;
  overflow: auto;
  padding: 20px;
}

.messageBorder {
  background: lightgrey;
  border: 1px solid black;
  border-radius: 6px;
  padding: 5px;
  width: 300px;
}

.smol {
  font-size: 1rem;
}

.chatboxContainer {
  position: relative;
  width: 400px;
  height: auto;
  padding: 0;
}

form {
  position: absolute;
  bottom: -45px;
  left: 1px;
  width: 100%;
}

button {
  height: 45px;
  width: 17%;
  display: inline-block;
  float: right;
}

input {
  height: 40px;
  display: inline-block;
  margin: 0;
  float: left;
}

input#name {
  width: 20%;
}

input#message {
  width: 60%;
}

.blend {
  mix-blend-mode: darken;
  color: black;
}

img.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* ########################
#      SCROLLBAR SHIT     #
######################## */

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: white;
  border: 0.5px solid lightgrey;
}

::-webkit-scrollbar-track, ::-webkit-scrollbar-track:horizontal {
  background: grey;
}

::-webkit-scrollbar-track-piece, ::-webkit-scrollbar-track-piece:horizontal {
  background: lightgrey;
}

::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb:horizontal {
  background: black;
}

::-webkit-scrollbar-corner, ::-webkit-scrollbar-button, ::-webkit-resizer {
  display: none;
}