body {
    overflow-x: hidden;
    color: black;
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
}

#page {
    overflow: hidden;
    white-space: nowrap;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #CCC;
    display: flex;
    flex-wrap: no-wrap;
}

.pane {
    flex: 0 0 100vw;
    height: 100vh;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-right: 1px solid black;
}

/*
.pane:nth-child(4n+2) {
    background-color: #ffffff;
}

.pane:nth-child(4n+3) {
    background-color: #ffffff;
}

.pane:nth-child(4n+4) {
    background-color: #ffffff;
}

.pane:last-child {
    background-color: #ffffff;
}
*/